{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block header %}
<section class="hero is-primary is-primary">
    <div class="hero-body">
        <p class="title">About</p>
        <p class="subtitle"></p>
    </div>
</section>
{% endblock %}
{% block content %}

<h1 class="is-size-4">What is all this?</h1>
<p class="mt-2">
    Palm enthusiasts the world over are sharing their observations online in forums.
    That's wonderful! But have you ever tried to recall the details you read in some
    thread a month ago?
    A large effort has been made to collect and organize this data by <a
        href="https://www.palmtalk.org/forum/profile/5832-kinzyjr/">kinzyjr</a>.
    This goal of this app is to provide a web interface on top of that collected
    data set to make it more easily accessible, with links back to the source
    for further reading.
</p>
<p class="mt-2">The data was gathered from various sources by <a
        href="https://www.palmtalk.org/forum/profile/5832-kinzyjr/">kinzyjr</a> and the web app was developed during
    spare time by <a href="https://www.palmtalk.org/forum/profile/23859-5am/">5am</a>.
</p>


<h1 class="is-size-4 mt-4" id="contribute"> <a href="#contribute"> <i
            class="fa-solid fa-link is-size-6 has-text-grey-lighter"></i></a> How can
    I
    contribute?</h1>

<p class="mt-1">There are a few ways to contribute to the project:</p>

<div class="columns mt-1">
    <div class="column is-fullwidth">
        <div class="columns is-mobile">
            <div class="column has-text-right">
                <i class="fa-regular fa-image contribute-icon data"></i>
            </div>

            <div class="column is-four-fifths">
                <p>Share your own observations on the
                    <a href="http://palmtalk.com">PalmTalk</a> forum!
                    Make a thread about your experience and include pictures.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-fullwidth">
        <div class="columns is-mobile">
            <div class="column has-text-right">
                <i class="fa-solid fa-lightbulb contribute-icon feedback"></i>
            </div>

            <div class="column is-four-fifths">
                <p>Ideas, suggestions, and feedback about the app can be
                    sent to 5am on the PalmTalk forum. Concerns
                    about the data should be directed to kinzyjr.</p>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-fullwidth">
        <div class="columns is-mobile">
            <div class="column has-text-right">
                <i class="fa-solid fa-code contribute-icon code"></i>
            </div>

            <div class="column is-four-fifths">
                <p>Do you write code? Check out the <a href="https://github.com/cestarte/palmhardiness">github</a>. It's
                    very easy to run the app on your computer.</p>
            </div>
        </div>
    </div>
</div>


<h1 class="is-size-4 my-4" id="datasources">
    <a href="#datasources">
        <i class="fa-solid fa-link is-size-6 has-text-grey-lighter"></i>
    </a>
    Data Sources
</h1>

<article class="message mt-2 is-info">
    <div class="message-body">
        <p>There is no affiliation between this app and any of the wonderful data sources.</p>
    </div>
</article>

<p class="mt-2">In the table, like-sources have been grouped together and then tallied.</p>

<div class="table-container mt-4">
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr class="is-primary">
                <th>Source</th>
                <th>Count</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for ds in data.results %}
            <tr>
                <td>{{ ds.source }}</td>
                <td>{{ ds.count }}</td>
                <td>{{ ds.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </table>
</div>

<h1 class="is-size-4 mt-4" id="download"> <a href="#download"> <i
            class="fa-solid fa-link is-size-6 has-text-grey-lighter"></i>
    </a>
    Download
</h1>
<p class="mt-2 pb-2">The latest cold hardiness master data is available as an Excel spreadsheet at <a
        href="https://www.palmtalk.org/forum/topic/61358-0000-cold-hardiness-observation-master-data/">https://www.palmtalk.org/forum/topic/61358-0000-cold-hardiness-observation-master-data/</a>.
    The app codebase is available at github here <a
        href="https://github.com/cestarte/palmhardiness">https://github.com/cestarte/palmhardiness</a>.</p>


<style>
    .contribute-icon {
        font-size: 3rem;
    }

    .contribute-icon.code {
        color: limegreen;
    }

    .contribute-icon.feedback {
        color: #fce664 !important;
    }

    .contribute-icon.data {
        /* .contribute-icon .data { */
        color: cornflowerblue;
    }
</style>

{% endblock %}