{% extends "layout.html" %}
{% block title %}Cycad Index{% endblock %}
{% block header %}
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">Cycad Index</p>
    </div>
</section>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_table.css') }}">
{% endblock %}
{% block content %}

<div class="grid mb-1">
    <div class="cell">
        <label class="checkbox">
            <input type="checkbox" checked="checked" id="filter-unobserved" onchange="onLoadIndexTable" />
            Remove results without observations
        </label>
    </div>
    <div class="cell">
    </div>
    <div class="cell">
        <input type="text" id="search-input" class="input" placeholder="Search..." value="" />
    </div>
</div>

<div>
    <div id="table-placeholder"></div>
</div>

<script src="{{ url_for('static', filename='js/vanilla_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/cycad_index_table.js') }}"></script>
<script>

</script>

{% endblock %}