{% extends "layout.html" %}
{% block title %}{{data.cycadname}}{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
{% block header %}
<section class=" hero is-primary">
    <div class="hero-body">
        <p class="title">{{ data.cycadname }}</p>
        <p class="subtitle">{{ data.commonname if data.commonname is not none }}</p>
    </div>
</section>
{% endblock %}
{% block content %}

<div class="box">

    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <p><strong>USDA Zone</strong> <i class="fa-solid fa-circle-info is-size-7" aria-haspopup="true"
                    aria-controls="zone-help"></i></p>
        </div>
        <div class="dropdown-menu" id="zone-help" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item is-size-7 has-text-weight-normal">
                    <p>USDA Hardiness Zones are based on the average annual minimum
                        temperature.</p>
                    <a target="_blank" href="https://planthardiness.ars.usda.gov/"> <i
                            class="fa-solid fa-arrow-up-right-from-square"></i> More info at
                        usda.gov</a>
                </div>
            </div>
        </div> <span class="ml-2">{{data.zonename}}</span>
    </div>

    &nbsp;

    <a target="_blank"
        href="https://www.palmtalk.org/forum/search/?&q=%22{{data.cycadname}}%22&quick=1&search_and_or=or&sortby=relevancy">
        <i class="fa-solid fa-arrow-up-right-from-square"></i> Search PalmTalk</a>
    &nbsp;

    <a target="_blank" href="https://palmpedia.net/wiki/index.php5?search={{data.cycadname}}">
        <i class="fa-solid fa-arrow-up-right-from-square"></i> Search PalmPedia</a></p>
</div>

<div class="table-container">
    <div id="observation-table">
    </div>
</div>

{% include 'observation_temp_cell.html' %}

<script src="{{ url_for('static', filename='js/vanilla_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/cycad_observation_table.js') }}"></script>


{% endblock %}