{% extends "layout.html" %}
{% block title %}Download{% endblock %}
{% block content %}

<h1>Data</h1>
<p>Visit the PalmTalk forum to grab the latest data in Excel format.
    <br />
    <a href="https://www.palmtalk.org/forum/topic/61358-0000-cold-hardiness-observation-master-data/">
        https://www.palmtalk.org/forum/topic/61358-0000-cold-hardiness-observation-master-data/ </a>.
</p>
<p>This app was developed against the 20231210 data set, released Dec 9, 2023. Find it
    <a
        href="https://www.palmtalk.org/forum/topic/61358-0000-cold-hardiness-observation-master-data/?do=findComment&comment=1143751">here</a>.
</p>

<h1>Software</h1>
<p>Get the source code to this web app on Github here _.</p>


{% endblock %}