<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - PCH</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    {% endblock %}
</head>

<body>
    <div id="navigation">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
    </div>

    <div id="header" class="mb-6">
        {% block header %}
        {% endblock %}
    </div>
    <div id="content" class="container is-fluid">
        {% block content %}{% endblock %}
    </div>

    <div id="footer" class="footer">
        {% block footer %}
        <div class="content has-text-centered">
            <p>Data and web content are made freely available for public use. There is no warranty of any kind. Use it
                at your own risk.</p>
            <p>No affiliation with <a href="http://www.palmtalk.com">Palm Talk</a> or any other data sources used.</p>
            <p>Thanks to <a href="https://www.palmtalk.org/forum/profile/5832-kinzyjr/">kinzyjr</a> for the <a
                    href="https://www.palmtalk.org/forum/topic/61358-0000-cold-hardiness-observation-master-data/">cold
                    hardiness master data</a>.
            </p>
        </div>
        {% endblock %}
    </div>
</body>

</html>