<!doctype html>
<html lang="en">

<head>
    <title>PCH: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome6/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome6/css/brands.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome6/css/solid.min.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body class="is-family-sans-serif">
    <div id="navigation">
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
    </div>

    <div id="header" class="mb-3">
        {% block header %}
        {% endblock %}
    </div>
    <div id="content" class="container is-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer" class="footer">
        {% block footer %}
        <div class="content has-text-centered">
            <p>Data and web content are made freely available for public use. There is no warranty of any kind. Use
                this website and the information presented here at your own risk.</p>
            <p>Thanks to <a href="https://www.palmtalk.org/forum/profile/5832-kinzyjr/">kinzyjr</a> for the <a
                    href="https://www.palmtalk.org/forum/topic/61358-0000-cold-hardiness-observation-master-data/">cold
                    hardiness master data</a>.
                <br />No affiliation with <a href="http://www.palmtalk.com">Palm Talk</a> or any other data sources
                used.
            </p>
        </div>
        {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</body>

</html>