{% extends "layout.html" %}
{% block title %}Observation Map{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/leaflet/leaflet.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" />
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<div id="map"></div>

<script src="{{ url_for('static', filename='js/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script>
    window.onload = async function () {
        setMapViewToUserLocation()
        let events = {}
        let palmObservations = {}
        let cycadObservations = {}

        try {
            console.log('map calling geteventlocations')
            events = await getEventLocations()
            console.log('map got events', events)
            if (events.meta.total_results > 0)
                addEventMarkers(events.records)
        } catch (error) {
            console.error('Failed to update the map with event locations.', error)
        }

        try {
            palmObservations = await getObservations('palm')
            if (palmObservations.meta.total_results > 0)
                addObservationMarkers(palmObservations.records, 'palm')
        } catch (error) {
            console.error('Failed to update the map with palm observations.', error)
        }

        try {
            cycadObservations = await getObservations('cycad')
            if (cycadObservations.meta.total_results > 0)
                addObservationMarkers(cycadObservations.records, 'cycad')
        } catch (error) {
            console.error('Failed to update the map with cycad observations.', error)
        }
    }
</script>

{% endblock %}