<template id="observation-temp">
    <div class="dropdown is-up is-hoverable">
        <div class="dropdown-trigger">
            <span aria-haspopup="true" aria-controls="observation-temp-dropdown">
                <span name="f"></span>
            </span>
        </div>
        <div class="dropdown-menu" id="observation-temp-dropdown" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <p><span name="f"></span> °F</p>
                    <p><span name="c"></span> °C</p>
                </div>
            </div>
        </div>
    </div>
</template>