{% extends "layout.html" %}
{% block title %}{{data.palm_name}}{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
{% block header %}
<section class=" hero is-info">
    <div class="hero-body">
        <p class="title">{{ data.palm_name }}</p>
        <p class="subtitle">{{ data.common_name if data.common_name is not none }}</p>
    </div>
</section>
{% endblock %}
{% block content %}

{% include 'modal.html' %}

<button class="button is-primary" id="test" data-modal-id="testmodal">Add Observation</button>


<div class="columns">

    <div class="column is-half">
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <p><strong>USDA Zone</strong> <i class="fa-solid fa-circle-info is-size-7" aria-haspopup="true"
                        aria-controls="zone-help"></i></p>
            </div>
            <div class="dropdown-menu" id="zone-help" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item is-size-7 has-text-weight-normal">
                        <p>USDA Hardiness Zones are based on the average annual minimum
                            temperature.</p>
                        <a target="_blank" href="https://planthardiness.ars.usda.gov/"> <i
                                class="fa-solid fa-arrow-up-right-from-square"></i> More info at
                            usda.gov</a>
                    </div>
                </div>
            </div> <span class="ml-2">{{data.zone_name}}</span>
        </div>
    </div>

    <div class="column is-half">
        <p class="is-pulled-right"> <a target="_blank"
                href="https://palmpedia.net/wiki/index.php5?search={{data.palm_name}}">
                <i class="fa-solid fa-arrow-up-right-from-square"></i> Search PalmPedia</a></p>
    </div>
</div>

<div class="table-container mb-0">
    <table class="table is-striped is-fullwidth" id="observation-table">
        <thead>
            <tr class="is-primary">
                <th>Location</th>
                <th>Low Temp</th>
                <th>Damage</th>
                <th>Description</th>
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Event Reported By</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>


<script>
    var uniqueElemCounter = 0


    window.onload = function () {
        getObservations()
        testelem = document.getElementById('test')
        console.log('list', testelem.classList)
        createModal(testelem, "HEADER", "BODY", "FOOTER")
    }

    function getObservations() {
        fetch('/api/palm/{{data.id}}/observations')
            .then(response => response.json())
            .then(data => {
                console.log(data)
                const table = document.getElementById('observation-table').getElementsByTagName('tbody')[0]
                data.forEach(o => {
                    let row = table.insertRow(-1)
                    let location = row.insertCell(0)
                    let low_temp = row.insertCell(1)
                    let damage = row.insertCell(2)
                    let description = row.insertCell(3)
                    let event_name = row.insertCell(4)
                    let event_description = row.insertCell(5)
                    let event_reported_by = row.insertCell(6)
                    let source = row.insertCell(7)
                    location.innerHTML = o.location || ''
                    low_temp.innerHTML = o.low_temp || ''
                    damage.innerHTML = o.damage_text || ''
                    longTextModalTrigger(description, o.description, 100)
                    //description.innerHTML = o.description || ''
                    event_name.innerHTML = o.event_name || ''

                    longTextModalTrigger(event_description, o.event_description, 100, o.event_name || null)
                    //event_description.innerHTML = o.event_description || ''
                    event_reported_by.innerHTML = o.event_who_reported || ''
                    source.innerHTML = `<a href="${o.source}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i> ${o.source}</a>`
                })
            })
    }

    function longTextModalTrigger(triggerElem, text, maxLength, title = null) {
        // directly affects the DOM element 

        if (!text) {
            triggerElem.innerHTML = ''
            return
        } else if (text.length <= maxLength) {
            triggerElem.innerHTML = text
            return
        }

        let preview_text = text.substr(0, maxLength) + '...'
        triggerElem.setAttribute('data-modal-id', `longText-${uniqueElemCounter++}`)
        triggerElem.innerHTML = preview_text
        let modal_content = `${text.replace('\n', '<br /><br />')}`
        createModal(triggerElem, title, modal_content)
    }
</script>

{% endblock %}