{% extends "layout.html" %}
{% block title %}Palm Index{% endblock %}
{% block header %}
<section class="hero is-info">
    <div class="hero-body">
        <p class="title">Palm Index</p>
        <p class="subtitle"></p>
    </div>
</section>
{% endblock %}
{% block content %}
{% include 'vanilla_table.html' %}

<div class="table-container mb-0" id="table-placeholder"></div>


<div class="grid mb-1">
    <div class="cell">

        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="table-filters-menu">
                    <span>Filters</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="table-filters-menu" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item">


                        <form id="table-filters" class="mb-0">
                            <div class="field">
                                <label for="zone" class="label">Zone</label>
                                <div class="control">
                                    <div class="select">
                                        <select name="zone" id="zone">
                                            <option value="" selected>All</option>
                                            <option value="">zone name</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="results_per_page" class="label">Results per page</label>
                                <div class="control">
                                    <div class="select">
                                        <select name="results_per_page" id="results_per_page">
                                            <option value="15" selected>15</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="sort" class="label">Sort</label>
                                <div class="control">
                                    <div class="select">
                                        <select name="sort" id="sort">
                                            <option value="genus" selected>Genus, Species, Variety</option>
                                            <option value="common_name">Common Name</option>
                                            <option value="zone">Zone</option>
                                            <option value="observation_count">Observations</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="order" class="label">Order</label>
                                <div class="control">
                                    <div class="select">
                                        <select name="order" id="order">
                                            <option value="asc" selected>Ascending</option>
                                            <option value="desc">Descending
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="cell">
    </div>
    <div class="cell">
        <input type="text" class="input" placeholder="Search..." id="search-input" value="" />
    </div>
</div>
<div class="table-container mb-0">
    <table class="table is-striped is-fullwidth" id="palm-table">
        <thead>
            <tr class="is-primary">
                <th>&nbsp;</th>
                <th>Genus</th>
                <th>Species</th>
                <th>Variety</th>
                <th>Common Name</th>
                <th>
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            Zone <i class="fa-solid fa-circle-info is-size-7" aria-haspopup="true"
                                aria-controls="zone-help"></i>
                        </div>
                        <div class="dropdown-menu" id="zone-help" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item is-size-7 has-text-weight-normal">
                                    <p>USDA Hardiness Zones are based on the average annual minimum
                                        temperature.</p>
                                    <a target="_blank" href="https://planthardiness.ars.usda.gov/"> <i
                                            class="fa-solid fa-arrow-up-right-from-square"></i> More info at
                                        usda.gov</a>
                                </div>
                            </div>
                        </div>
                </th>
                <th>Observations</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div data-id="pagination-placeholder"></div>


<template id="table-pagination">
    <p class="mt-1">
        Page <span name="current-page"></span> of <span name="total_pages"></span>.
        Showing <span name="results_on_this_page"></span> of <span name="total_results"></span> results.
    </p>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <a href="#" class="pagination-previous">Previous</a>
        <a href="#" class="pagination-next">Next page</a>

        <ul class="pagination-list">
            <li>
                <input type="input" type="number" class="input" value="" name="page-input" size="3" />
            </li>
            <li>
                <a href="#" class="pagination-link" name="go" aria-label="Go to page">Go</a>
            </li>
        </ul>
</template>

<script src="{{ url_for('static', filename='js/vanilla_table.js') }}"></script>
<script>
    window.onload = function () {
        document.getElementById('search-input').addEventListener('input', function (e) {
            processSearch(this.value)
        });

        // initial table population
        refreshTable(null, { 'page': 1, 'results_per_page': 15 });

        let options = {
            'parent_elem_id': 'table-placeholder',
            'pagination': 'pagination-placeholder',
            'pagination_template': 'table-pagination',
            'data_url': 'http://localhost:5000/api/palm',
            'search': '',
            'filters': '',
            'sort': '',
            'order': '',
            'zone': '',
            'page': 1,
            'results_per_page': 15,
            'columns': [
                {
                    'name': 'id',
                    'label': ' ',
                    'custom_body': function (record) {
                        return `<a href="/palm/${record['id']}" aria-label="Go to palm" title="Go to palm">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>`
                    }
                },
                {
                    'name': 'genus',
                    'label': 'Genus'
                },
                {
                    'name': 'species',
                    'label': 'Species'
                },
                {
                    'name': 'variety',
                    'label': 'Variety'
                },
                {
                    'name': 'common_name',
                    'label': 'Common Name'
                },
                {
                    'name': 'zone_name',
                    'custom_label': `                   
                    <div class="dropdown is-hoverable">
                        <div class="dropdown-trigger">
                            Zone <i class="fa-solid fa-circle-info is-size-7" aria-haspopup="true"
                                aria-controls="zone-help"></i>
                        </div>
                        <div class="dropdown-menu" id="zone-help" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item is-size-7 has-text-weight-normal">
                                    <p>USDA Hardiness Zones are based on the average annual minimum
                                        temperature.</p>
                                    <a target="_blank" href="https://planthardiness.ars.usda.gov/"> <i
                                            class="fa-solid fa-arrow-up-right-from-square"></i> More info at
                                        usda.gov</a>
                                </div>
                            </div>
                        </div>
                    </div>`
                },
                {
                    'name': 'observation_count',
                    'label': 'Observation Count'
                }
            ]
        }
        let vanilla = new VanillaTable(options)
        vanilla.createTable()
        vanilla.refreshTable()
    }
</script>

{% endblock %}