{% extends "layout.html" %}
{% block title %}Palm Obsersavtions{% endblock %}
{% block header %}
<section class="hero is-primary is-primary">
    <div class="hero-body">
        <p class="title">Palm Observations</p>
    </div>
</section>
{% endblock %}
{% block content %}

<div class="grid mb-1">
    <div class="cell is-col-span-2">
    </div>
    <div class="cell">
        <input type="text" id="lowest-survived-search-input" class="input" placeholder="Search..." value="" />
    </div>
</div>

<div>
    <div id="lowest-survived-table-placeholder"></div>
</div>

<script src="{{ url_for('static', filename='js/vanilla_table.js') }}"></script>
<script src="{{ url_for('static', filename='js/palm_questions_lowest_surviving_table.js') }}"></script>
<style>
    th.is-sorted-asc::after {
        content: "▲";
    }

    th.is-sorted-desc::after {
        content: "▼";
    }
</style>
{% endblock %}