{% extends "layout.html" %}
{% block title %}{{data.palm_name}}{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
{% block header %}
<section class=" hero is-info">
    <div class="hero-body">
        <p class="title">{{ data.palm_name }}</p>
        <p class="subtitle">{{ data.common_name if data.common_name is not none }}</p>
    </div>
</section>
{% endblock %}
{% block content %}

<div class="box">

    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <p><strong>USDA Zone</strong> <i class="fa-solid fa-circle-info is-size-7" aria-haspopup="true"
                    aria-controls="zone-help"></i></p>
        </div>
        <div class="dropdown-menu" id="zone-help" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item is-size-7 has-text-weight-normal">
                    <p>USDA Hardiness Zones are based on the average annual minimum
                        temperature.</p>
                    <a target="_blank" href="https://planthardiness.ars.usda.gov/"> <i
                            class="fa-solid fa-arrow-up-right-from-square"></i> More info at
                        usda.gov</a>
                </div>
            </div>
        </div> <span class="ml-2">{{data.zone_name}}</span>
    </div>

    &nbsp;

    <a target="_blank"
        href="https://www.palmtalk.org/forum/search/?&q=%22{{data.palm_name}}%22&quick=1&search_and_or=or&sortby=relevancy">
        <i class="fa-solid fa-arrow-up-right-from-square"></i> Search PalmTalk</a>
    &nbsp;

    <a target="_blank" href="https://palmpedia.net/wiki/index.php5?search={{data.palm_name}}">
        <i class="fa-solid fa-arrow-up-right-from-square"></i> Search PalmPedia</a></p>
</div>

<div class="table-container mb-0" id="observation-table">
</div>

<template id="observation-temp">
    <div class="dropdown is-up is-hoverable">
        <div class="dropdown-trigger">
            <span aria-haspopup="true" aria-controls="observation-temp-dropdown">
                <span name="f"></span>
            </span>
        </div>
        <div class="dropdown-menu" id="observation-temp-dropdown" role="menu">
            <div class="dropdown-content">
                <div class="dropdown-item">
                    <p><span name="f"></span> °F</p>
                    <p><span name="c"></span> °C</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="{{ url_for('static', filename='js/vanilla_table.js') }}"></script>
<script>
    async function getObservationsAsync() {
        try {
            const response = await fetch('/api/palm/{{data.id}}/observations')
            if (!response.ok) {
                throw new Error('Network response was not OK.', response)
            }

            const contentType = response.headers.get("content-type")
            if (!contentType || !contentType.includes("application/json"))
                throw new TypeError('Expected JSON response but got something else.')

            return response.json()
        } catch (error) {
            console.error('Failed to fetch the observation data.', error)
            return []
        }
    }

    window.onload = async function () {
        let options = {
            'table_placeholder': 'observation-table',
            'columns': [
                {
                    'name': 'location',
                    'label': 'Location',
                },
                {
                    'name': 'low_temp',
                    'label': 'Low Temp',
                    'custom_body': (record, columnName, $cell) => {
                        const id = VanillaTable.generateId()
                        let $elem = document.createElement('div')
                        $elem.innerHTML = `<p>
${record[columnName]}&nbsp°F</p><p>
${((record[columnName] - 32) * 5 / 9).toFixed(2)}&nbsp°C
</p>`
                        return $elem
                    }
                },
                {
                    'name': 'damage_text',
                    'label': 'Damage'
                },
                {
                    'name': 'description',
                    'label': 'Description',
                    'formatters': ['max_len', 'text'],
                    'on_click': (record, columnName, $cell) => {
                        if (record[columnName] && record[columnName].length > 100)
                            createModal(null, '', record[columnName], '')
                    }
                },
                {
                    'name': 'event_name',
                    'label': 'Event Name',
                },
                {
                    'name': 'event_description',
                    'label': 'Event Description',
                    'formatters': ['max_len', 'text'],
                    'on_click': (record, columnName, $cell) => {
                        if (record[columnName] && record[columnName].length > 100)
                            createModal(null, record['event_name'], record[columnName], '')
                    }
                },
                {
                    'name': 'event_who_reported',
                    'label': 'Event Reported By'
                },
                {
                    'name': 'source',
                    'label': 'Source',
                    'custom_body': (record, columnName) => {
                        return `<a href="${record.source}" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i> ${record.source}</a>`
                    }
                }
            ]
        }
        let vanilla = new VanillaTable(options)
        let observations = await getObservationsAsync()
        vanilla.populateTableBody(observations)
    }
</script>

{% endblock %}