{% extends "layout.html" %}
{% block title %}Contribute{% endblock %}
{% block content %}

<h1>Contribute data</h1>
<p>The best way to contribute is to join the <a href="http://palmtalk.com">PalmTalk forum</a> and share your findings
    there.</p>
<p>Make a thread about your ongoing experience and share pictures of the outcome!</p>
<p>Please include the palm species, general location, and the lowest temperature you recorded along with a description
    of any unusual weather events.</p>

{% endblock %}